[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "SiPhyNetwork"]
	path = SiPhyNetwork
	url = https://github.com/jjustison/siphynetwork
